.aider*
*.cyclo

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.elf
*.mk

.DS_Store

.cache

STM32CubeIDE/.settings/
STM32CubeIDE/.metadata/
STM32CubeIDE/Debug/
STM32CubeIDE/Release/

.settings

EVSPIN32G4_encoder.log
EVSPIN32G4_encoder.ioc.bak
EVSPIN32G4_encoder.ioc.wb
EVSPIN32G4_encoder.settings

# Project generated in separate folder by MC Workbench 
# when using EVSPIN32G4_encoder.stwb6 project file 
EVSPIN32G4_encoder/EVSPIN32G4_encoder/
#I dont think I did this right, but whatever